/* #565e52 */

div.dropdown-item:hover {
    background-color: whitesmoke;
    color: #0a0a0a;
}

.tab-dropdown-overflow {
    overflow-x: visible;
    overflow-y: visible;
}

.tabs li.is-active a {
    border-bottom-color: #363636;
    color: #363636;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    background-color: #e8e8e8;
    color: #4a4a4a;
}

div.card-hover:focus, div.card-hover:focus-within, div.card-hover:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}

div.card-hover > div > figure > img {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

div.card-hover:focus, div.card-hover:focus-within, div.card-hover:hover > div > figure > img {
    -webkit-filter: grayscale(0);
    filter: none;
}